h1 {
    color: #ffc;
    background-color: #009;
    font-style: italic;
    text-decoration: none;
}

p:first-child {
    font-weight: bold;
    font-size: 40px;
}
{    color: red;
    text-transform: uppercase;
    line-height: 2;
    text-align: center;
}

p {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: red green blue yellow;
    margin: 10px 50px;
}

#myExcelSheet {position: relative;
             top: 50%;
             left: 10px;
	     }





