h1 {
    color: #ffc;
    background-color: #009;
    font-style: italic;
    text-decoration: none;
}


p {
    font: 17px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 3px;
    border-color: blue;
    margin: 10px 50px;
}

h2 { font: 13px/1.5 "Times New Roman", times, serif;
    padding: 10px 10px;   
    margin: 10px 50px;
}

#myExcelSheet {position: relative;
             top: 50%;
             left: 30px;
	     }





